#toplevel_page_maha_options .wp-menu-image img{width: 20px;margin-top: -1px;} #redux-header{display:none;}
.redux-main .redux-typography-container .font_1_previewer.typography-preview, .redux-main .redux-typography-container .font_3_previewer.typography-preview{font-size: 20pt !important;}
.el-info {padding:8px;background-color:#E7F2F8;}